.Thing-1 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}
  
.Thing-2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
    
.Thing-3 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.Thing-4 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.Thing-5 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.btn {
    background-color: #4aaaa5;
    color:#ffffff;
}
.carousel-caption {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.col-md-2 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.navbar-brand {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height: 120%;
    border-radius: 10px;
    border-color: #777777
}
.p {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    line-height: 2;
    font: #777777;
    font-size: 20px;
  
}
a {
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-size: 20px;
    color: white;
}
.link-color {
    color: #4aaaa5;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.email {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    color: #4aaaa5;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    
}
.phone {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    color: #4aaaa5;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}